$color-text-title: #31406F;
.home__content__filter{
    margin: 5px 0;
    &-title{
        display: flex;
        font-size: 18px;
        color: $color-text-title;
        &-icon{
            margin-right: 14px;
        }
        &-arrow{
            margin-left: auto;
            transition: all 0.3s;
            &.rotate{
                transform: rotate(180deg);
            }
        }
    }
    &-list{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-right: 10px;
        &-item{
            color: $color-text-title;
            margin: 5px 0;
            &__containner{
                display: flex;
                align-items: center;
            }
            input{
                margin-right: 10px;
                transform: scale(1.4);
            }
            &__title{
                font-size: 14px;
                margin: 0;
            }
            &__button{
                margin-left: auto;
                transition: all 0.3s;
                &.rotate{
                    transform: rotate(180deg);
                }
            }
            &__inItem{
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0;
                padding: 10px;
                &-item{
                    display: flex;
                    &-input{
                        transform: scale(1.3);
                    }
                    &-title{
                        font-size: 13px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}