$color-text: #3F4047;
$color-text-hover: #7967e8;
$color-bg-button: #F2863B;
$color-bg-list-hover: #F1F5F9;
.header{
    position: sticky;
    z-index: 999;
    padding: 0.3rem 0;
    border-bottom: 1px solid #ddd;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &__containner{
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
    }
    &__menuPage{
        display: flex;
        align-items: center;
        &__logo{
            img{
                width: 112px;
                object-fit: cover;
                filter: brightness(0) saturate(100%) invert(46%) sepia(89%) saturate(7490%) hue-rotate(189deg) brightness(97%) contrast(100%);
            }
        }
        &__list{
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
            &-item{
                position: relative;
                margin: 0 16px;
                padding: 20px 0;
                a{
                    color: $color-text;
                    font-weight: 600;
                    text-decoration: none;
                    transition: all 0.3s;
                    display: flex;
                    align-items: center;
                    span{
                        svg{
                            transform: translate(3px, 2px);
                        }
                    }
                    &:hover{
                        color: $color-text-hover;
                    }
                }
                
            }
        }
    }
    &__menuUser{
        display: flex;
        align-items: center;
        &__post{
            background-color: $color-bg-button;
            padding: 9px 25px;
            border-radius: 5px;
            margin-right: 30px;
            a{
                display: flex;
                align-items: center;
                color: #fff;
                font-size: 17px;
                font-weight: bold;
                span{
                    margin-left: 7px;
                }
            }
        }
        &__contact{
            margin-right: 30px;
            color: $color-text;
            font-weight: 600;
            display: flex;
            align-items: center;
            svg{
                margin-right: 5px;
            }
        }
        &__myAccount{
            display: flex;
            align-items: center;
            color: $color-text;
            font-weight: 600;
            padding: 20px 0;
            span{
                display: flex;
                align-items: center;
            }
            svg{
                font-size: 20px;
            }
            &__link{
                display: flex;
                margin-right: 10px;
                img{
                    width: 30px;
                    aspect-ratio: 1;
                    object-fit: cover;
                    border-radius: 4px;
                    margin-right: 5px;
                }
                span{
                    color: #000;
                }
            }
            &__chat{
                svg{
                    font-size: 25px;
                }
            }
        }
    }
    &__dropdownMuaXe{
        &__top{
            display: flex;
            width: 538.612px;
            &-hang{
                margin-right: 20px;
                &Title{
                    font-size: 20px;
                }
                &List{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    &-item{
                        padding: 5px 3px;
                        &:hover{
                            background: $color-bg-list-hover;
                        }
                    }
                }
            }
            &-dong{
                margin-right: 20px;
                &Title{
                    font-size: 20px;
                }
                &List{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    &-item{
                        padding: 5px 3px;
                        &:hover{
                            background: $color-bg-list-hover;
                        }
                    }
                }
            }
            &-gia{
                &Title{
                    font-size: 20px;
                }
                &List{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    &-item{
                        padding: 5px 3px;
                        &:hover{
                            background: $color-bg-list-hover;
                        }
                    }   
                }
            }
        }
    }
    &__dropdownUser{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        // display: block;
        &-item{
            padding: 10px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
                color: #000;
            }
            &:hover{
                background-color: #ddd;
            }
        }
    }
}

@media(max-width: 994px) {
    .header {
        &__containner{
            flex-wrap: wrap;
        }
        &__menuPage {
            width: 100%;
            
            &__list{
                flex : 1;
                justify-content: space-between;
            }
        }
        &__menuUser{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}